<!-- 
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended>
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended disabled>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
        </div>
        <div class="example-button-container">
          <a mat-fab extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
      </div>
    </div>
  </section> -->






  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput placeholder="First name" formControlName="fname" required>
        </mat-form-field>
        <div>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name" formControlName="lname" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>User name</mat-label>
            <input matInput placeholder="Username" formControlName="uname" required>
          </mat-form-field>
        </div>




        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your contact details">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Your Phone number</mat-label>
          <input matInput formControlName="phone" placeholder="Phone number "
                 required>
        </mat-form-field>
        <div>
          <mat-form-field>
            <mat-label>Your email address</mat-label>
            <input matInput formControlName="email" placeholder="Email address "
            required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Fill out your social media link">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field>
            <mat-label>Facebook link</mat-label>
            <input matInput formControlName="Facebook" placeholder=" Your Facebook Link" required>
          </mat-form-field>
          <div>
            <mat-form-field>
              <mat-label>Twitter link</mat-label>
              <input matInput formControlName="Twitter" placeholder=" Your Twitter Link" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>WhatsApp link</mat-label>
              <input matInput formControlName="whatsapp" placeholder=" Your WhatsApp Link" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>LinkedIn link</mat-label>
              <input matInput formControlName="linkdin" placeholder=" Your LinkedIn Link" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Instagram link</mat-label>
              <input matInput formControlName="instagram" placeholder=" Your Instagram Link" required>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup" label="Fill out your address">
        <form [formGroup]="fourthFormGroup">
          <mat-form-field>
            <mat-label>Home Address</mat-label>
            <input matInput formControlName="homeadd" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <mat-form-field>
              <mat-label>Office Address</mat-label>
              <input matInput formControlName="officeadd" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
  


  <div>
    <form action="">
      <input type="text" name="title" [(ngModel)]="title">
      <textarea name="content" [(ngModel)]="content" id=""></textarea>
      <button type="submit" (click)="save()">Submit</button>
    </form>
  </div>
<!--    
<button (click)="show()">display</button> -->


<div class="container mt-3">
  <h2 class="text-center">Saved Notes</h2>
  <div *ngFor="let contact of notes let i=index" class="card my-2">
    <div class="card-body">
      <p><strong>Title:</strong> {{ contact.title }}</p>
      <p><strong>Content:</strong> {{ contact.content }}</p>
    </div>
  </div>
</div>










  