

<!-- <h1>{{username}}</h1> -->

<!-- conditional rendering -->

<!-- @if( isAdmin){
  <p>you are permited</p>
}
@else {
  <p>you are not permited</p>
} -->

<!-- Loop rendering -->

<!-- @for(user of users; let i = $index; track user){
<p>{{i +1}}. {{user}}</p>
}

@for (student of students; track student.id){
<div> 
  <p>{{student.id}}. {{student.name}}</p>
  <p>{{student.depart}}</p>
</div>
} -->

<!-- Binding -->
 <!-- One way binding -->

 <!-- <a [href]="link">click me</a>

 <label for="terms">Accept terms and conditions</label>
 <input type="checkbox" name="terms" [(ngModel)]="terms"/>
 
 <button class="btn btn-primary m-4" [disabled]="!terms">Submit</button>

  <input type="text" class="form-control w-50" [(ngModel)]="UserInput" placeholder="Enter your name"/>
  <h1 class="my-4">{{UserInput}}</h1> -->




  
  
      <!-- bootstrap stying -->

  <!-- @for(item of items; let i = $index; track item){
    <div class="container ">

      <div class="card w-50 my-4 p-5" [id]="item.available ? 'bg-success' : 'bg-danger'">
        <div class="card-body">
          <h1 class="card-title my-3">{{item.id}}. {{item.name}}</h1>
          <h2 class="card-subtitle mb-2 text-body-secondary"> the price is {{item.price}}</h2>
          @if (!item.available) {
            <h3 class="text-danger">out of stock</h3>
          }
          @else {
            <button class="btn btn-success w-50 my-4"> Order</button>
          }
          
        </div>
      </div>
    </div>
  } -->



 

<!-- function -->

<!-- <button class="btn btn-primary m-4" (click)="submitForm()">Submit</button> -->





<app-navbar></app-navbar> 
<router-outlet></router-outlet>
<app-footer></app-footer> 
